@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.perspective {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}

.outline-text {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
header {
  position: relative;
  z-index: 50;
}
